input.searchButton {
  padding: 1px 1px 1px 19px !important;
  border: 1px solid #ccc !important;
}

#searchGadget {
  border: 1px solid #ccc;
}

#portal-personaltools-wrapper {
  line-height: 16px;
  clear: right;
  float: right;
}

#portal-personaltools-wrapper li {
  float: left;
  padding: 0 0.5em;
}

#portal-personaltools-wrapper li img {
  vertical-align: bottom;
}

#portal-breadcrumbs {
  clear: both;
}
