/* Theme-specific styling
 */

/* Tabs */

#tabs .selected > a {
    color: white;
    text-decoration: none;
    background-color: #222;
}

/* Footer */

#footer li {
    list-style: none;
}

#portal-siteactions li {
    display: inline;
    margin: 0 5px;
}

#visual-portal-wrapper {
    width: 940px;
    margin: 0 auto;
}

#visual-portal-wrapper > div {
    margin: 20px;
}
