/*
 *   Base - base.css 
 *	 Description: Base styles, building on foundation provided by reset and fonts.
 *   
 *   
**/

/* ---------------------- core ---------------------- */

html {
    background: #e6e8f0 center;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 2em auto;
    color: #333;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
}

a[name] {
    text-decoration: none;
}

/* ---------------------- END core ---------------------- */



/* ---------------------- structure ---------------------- */

#visual-portal-wrapper {	
    margin: 0 auto -3.1em;
    padding: 0 3em 0;
    width: 940px;
    text-align: left;	
    background: url(++resource++cellml.theme.images/body-shadow.png) center repeat-y;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    
    /*
    min-width: 800px;
    max-width: 940px;
    */
    
    /* background: #f4f4f4 url(/templates/cellml/global/img/layout-grid.gif); */
}

#portal-top-wrapper {
}

#portal-top {
    padding-top: 0.75em;	
    width: 940px;
}

#portal-personaltools-wrapper {
    /* XXX Firefox 2 somehow calculates width as 100% 
     * anyway, width normally don't exceed this much anyway */
    max-width: 620px;
}

#portal-personaltools a:link,
#portal-personaltools a:visited {
    color: #222;
    text-decoration: none;
}

#portal-personaltools a:visited { 
    color: #222;
}

#portal-personaltools a:focus,
#portal-personaltools a:hover {
    color: #222;
    text-decoration: underline;
}

.documentActions,
#portal-footer #portal-siteactions,
#portal-header #portal-personaltools {
    float: right;
    width: auto;
    text-align: right;		
}

.documentActions li {
    font-size: 90%;
}

.documentActions li,
#portal-footer #portal-siteactions li,
#portal-header #portal-personaltools li {
    display: block;
    float: left;
    border-left: 1px solid #ccc;
    margin: 0;
    padding: 0 0.5em;
}

.documentActions li a:link {
    color: #222;
}

.documentActions li a:hover {
    text-decoration: underline;
}

#portal-footer #portal-siteactions li:first-child,
#portal-header #portal-personaltools li:first-child {
    border-left: none;
}

#portal-footer #portal-siteactions {
    padding-bottom: 1em;
}

/* Opera 9 bug requires another nested class to clear */

#portal-footer-sticky {
    clear: both;
    width: 100%;
}

#portal-footer-wrapper {
    clear: both;
    width: 1000px;
    margin: 0 auto;
    /* XXX this will break image backgrounds */ 
    background: #e6e8f0 url(++resource++cellml.theme.images/body-shadow.png) center repeat-y;
    height: 3.1em;
}

#portal-footer {
    width: 940px;
    margin: 0 auto;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

#blockContainer {	
    background-color: #fff;
    background: none;
}	

.contentViews, .contentActions {
    font-size: 0.9em;
}

.documentContent {
    background: #fff;
    height: auto;
    min-height: 100%;
}

/*
  Grid information
  12 (60px) columns with 11 gutters of 20px each and two margins of 10px
  
  Home page: LayoutOne - 3-2-2 grid units - 412px + 268px + 268px = 988px
  Secondary page: LayoutTwo - 4-2 grid units - 660px + 330px = 990px	
*/


/* 
  Layout Zero: just one big main content area.
*/

#layoutZero #block1Wrapper {
    float: left;
    width: 100%;
}

#layoutZero #portal-column-content {
    width: 100%;
}

/* 
  Layout One: Main column left, two fixed width ancillary columns on right
  Ref: Alex Robinson's 'One True Layout': http://www.positioniseverything.net/articles/onetruelayout/  
*/

#layoutOne #block1Wrapper {
    float: left;
    width: 100%;
}

#layoutOne #portal-column-content {
    margin-right: 480px;
}

#layoutOne #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutOne #block2 {
    float: left;
    margin-left: -460px;
    width: 220px;
}

#layoutOne #block3 {
    float: left;
    margin-left: -220px;
    width: 220px;
    /* border: 1px solid blue; */
}


/* 
  Layout Two: Main column left, two fixed width ancillary columns on right
*/

#layoutTwo #block1Wrapper {
    float: left;
    width: 100%;
}

#layoutTwo #portal-column-content {
    margin-right: 480px;
}

#layoutTwo #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutTwo #block2 {
    float: left;
    margin-left: -460px;
    width: 300px; 
}

#layoutTwo #block3 {
    float: left;
    margin-left: -140px;
    width: 140px; 
}

/* 	
  Layout Three: Two columns
  Ref: Ryan Brill: http://www.alistapart.com/articles/negativemargins 
*/

#layoutThree #block1Wrapper {
    width: 100%;
    float: left; 
    margin-right: -480px;  
}

#layoutThree #portal-column-content {
    margin-right: 480px;
}

#layoutThree #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutThree #block2 {
    width: 460px;
    float: right;
}


/* 	
Layout Four: Two columns 
*/

#layoutFour #block1Wrapper {
    width: 100%;
    float: left; 
    margin-right: -320px;  
}

#layoutFour #portal-column-content {
    margin-right: 320px;
}

#layoutFour #portal-column-content .photoAlbum {
    width: 640px;
}

#layoutFour #block2 ,
#layoutFour #block3 {
    width: 300px;
    float: right;
}


/* 	
  Layout Four Slim: Two columns 
*/

#layoutFourSlim #block1Wrapper {
    width: 100%;
    float: left; 
    margin-right: -240px;  
}

#layoutFourSlim #portal-column-content {
    margin-right: 240px;
}

#layoutFourSlim #portal-column-content .photoAlbum {
    width: 720px;
}

#layoutFourSlim #block2 ,
#layoutFourSlim #block3 {
    width: 220px;
    float: right;
}


/* 	
  Layout Four Slimmer: Two columns 
*/

#layoutFourSlimmer #block1Wrapper {
    width: 100%;
    float: left; 
    margin-right: -160px;  
}

#layoutFourSlimmer #portal-column-content {
    margin-right: 160px;
}

#layoutFourSlimmer #portal-column-content .photoAlbum {
    width: 800px;
}

#layoutFourSlimmer #block2 ,
#layoutFourSlimmer #block3 {
    width: 140px;
    float: right;
}


/* 
  Layout Five: Main column left, two fixed width ancillary columns on right
*/

#layoutFive #block1Wrapper {
    float: left;
    width: 100%;
}

#layoutFive #portal-column-content {
    margin-right: 480px;
    /* border: 1px solid green; */
}

#layoutFive #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutFive #block2 {
    float: left;
    margin-left: -460px;
    width: 140px; 
    /* border: 1px solid red; */
}

#layoutFive #block3 {
    float: left;
    margin-left: -300px;
    width: 300px; 
    /* border: 1px solid blue; */
}

/*
 * content classes for indexes pages.
 */

.homeTopics {
}

.htRowA h2,
.htRowB h2 {
    margin-top: 0;
    border-top: 2px solid #c00;
    padding-top: 0.5em;
}

.htRowA,
.htRowB {
    width: 220px;
}

#layoutFour .htRowA,
#layoutFour .htRowB {
    width: 300px;
}

/* XXX not valid grid size */
#layoutFourSlim .htRowA,
#layoutFourSlim .htRowB {
    width: 340px;
}

#layoutFourSlimmer .htRowA,
#layoutFourSlimmer .htRowB {
    width: 380px;
}

.htRowA {
    float: left;
}

.htRowB {
    float: right;
}

/* Other content classes */

.projectTeamList p {
    margin-left: 100px;
    margin-bottom: 2.5em;
}

.projectTeamList h3 {
}

.projectTeamList img {
    padding: 4px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

/* ---------------------- END structure ---------------------- */

/* photos */

.photoAlbumEntry {
    width: 140px;
    float: left;
    margin-right: 20px;
}

.photoAlbumEntryWrapper {
    display: block;
    text-align: center;
}

.photoAlbumEntryTitle {
    text-align: center;
    display: block;
}

.tileImage, .newsImage {
    float: right;
    margin-left: 20px;
}

/* ---------------------- helpers ---------------------- */

/* Helper classes */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.hide { 
    display: none; 
}

/* ---------------------- END helpers ---------------------- */



/* ---------------------- secondary typography: content, lists and links ---------------------- */

.content { 
    font-size: 1.1em;
}

.sideTitle { 
    border-top: 1px solid #666;
    padding-top: 0.5em;
    color: #666;
}

ul.sideList { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.documentDescription {
    display: none;
}

.documentContent h1:first-child {
    margin-top: 0 !important;
}

#viewlet-above-content + h1 {
    margin-top: 0 !important;
}


/* ---------------------- END secondary typography: content, lists and links ---------------------- */




/* ---------------------- Brand, navigation, sidebar, footer styles ---------------------- */

#CellMLLogo {
    float: left;
}

#portal-searchbox form  {
    clear: right;
    margin-top: 3.8em;
    float: right;	
    text-align: right;
    width: 432px;
}

#portal-searchbox form fieldset {
    border: none;
}

#portal-searchbox form input,
#portal-searchbox form select {
    font-family: inherit;
    padding: 0.2em 0.1em;
}

#portal-searchbox form #siteSearchInput {
    width: 150px;
}		

.searchCellML .searchButton {
    display: none;
}

/* @group LiveSearch */

.LSRes {
    visibility: visible;
    text-transform: none;
    margin-left: 0;
    line-height: 1.1em;
}

.LSBox {
    float: right !important;
    width: 220px;
}

.LSResult {
    float: right !important;
    overflow: hidden;
    position: absolute;
    padding: 8px 0 12px;
    margin-top: -15px;
    margin-left: -152px;
    float: left;
    width: 372px;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    display: none;
    z-index: 1000;
}

.LSResult h4 {
    border-right: none;
    background-color: #fff;
    border: 1px solid black;
    border-bottom: none;
    padding: 5px 10px 1px;
    display: inline;
}

.LSHighlight {
}

.LSHighlight a {
    color: white;
    background-color: gray;
}

.LSHighlight a .livesearchResult-description {
    color: white;
}

.LSResult ul {
    float: left;
    background-color: #fff;
    border: 1px solid black;

}

.LSResult ul li {
    float: left;
    clear: left;
    padding: 0;
}

.LSResult ul li a {
    float: left;
    display: block;
    width: 339px;
    padding: 5px 5px 5px 26px;
    white-space: nowrap;
    text-decoration: none;
}

.LSResult ul li a:hover {
    background: #eee;
}

.LSResult .livesearchResult-title {
    font-weight: bold;
    white-space: normal;
    display: inline;
}

.LSResult .livesearchResult-score {
    display: inline;
    white-space: normal;
}

.LSResult .livesearchResult-description {
    float: left;
    clear: left;
    color: gray;
    white-space: normal;
    display: inline;
}

.LSResult ul li a img {
    margin-left: -20px;
    float: left;
    margin-top: -3px;
}
.LSRow {
    white-space: normal;
    padding: 0;
    margin: 0;
}
.LSDescr {
    background-color: #7dabcf;
    font-size: 90%;
}

/* End @group LiveSearch */

#portal-breadcrumbs {
    margin: 0.5em 0;
    clear: both;
    float: left;
}

#portal-breadcrumbs a {
    color: #c00;
    text-decoration: none;
}

#portal-breadcrumbs a:hover {
    text-decoration: underline;
}

#portal-footer #copyright {			
    float: left;
    width:48%		
    padding-bottom: 1em;
}


/* ---------------------- END Brand, navigation, sidebar styles styles ---------------------- */



/* ---------------------- Links ---------------------- */

/* 
  ### Links: order is everything: link > visited > hover > focus > active ### 
  Basic link styles. These might be overridden by section-specific styles below.
*/

/* Global navigation */

/*
  Massive Blue menu courtesy of www.cssmenumaker.com: http://www.cssmenumaker.com/builder/menu_info.php?menu=032
*/

#portal-globalnav {
    background: #333;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}
#portal-globalnav li {
    float: left;
    /* font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif; */
    margin: 0;
    padding: 0;
    background: #333 url(++resource++cellml.theme.images/globalnav-separator.png) bottom right no-repeat;
}

#portal-globalnav a {
    color: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 5px 1px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1px;
    text-align: center;
    width: 102px;
    overflow: hidden;
    white-space: nowrap;
}
#portal-globalnav a:hover,
#portal-globalnav li.selected a {
    background: #c00;
    color: #fff;
}


/* Standard link styles for content sections */
.content a:link,
.content a:visited {
    color: #c00;
    text-decoration: none;
}

.content a:visited { 
    color: #c00;
}

.content a:focus,
.content a:hover {
    color: #c00;
    text-decoration: underline;
}	

/* Standard link styles for content sections */
.documentContent p a:link,
.documentContent p a:visited {
    color: #633;
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

.documentContent p a:focus,
.documentContent p a:hover {
    color: #933;
    text-decoration: none;
    border-bottom: 1px solid #666;
}

#breadCrumb ul {
    list-style: none;
    margin-left: 0;
}

#breadCrumb ul li {
    display: inline;
}

#portal-footer a:link,
#portal-footer a:visited {
    color: #222;
    text-decoration: none;
}

#portal-footer a:visited { 
    color: #222;
}

#portal-footer a:focus,
#portal-footer a:hover {
    color: #222;
    text-decoration: underline;
}


/* Plone portlets */

.portlet {
    margin-bottom: 1.6em;
}

.portletHeader {
    font-size: 1.3em;
    border-top: 1px solid #666666;
    color: #333;
    line-height: 1.9em;
    padding: 0.15em 0;
}

.portletHeader a {
    display: block;
    border: 1px solid #fff;
}

.portletHeader a:hover {
    background-color: #fee;
    border: 1px solid #ecc;
    text-decoration: none;
}

/* viewlet manager */

.managedPortlet .portletHeader a,
.notify .portletHeader a {
    display: inline;
    border: none;
}

.managedPortlet .portletHeader a:hover,
.notify .portletHeader a:hover {
    background-color: transparent;
}

.portletRecent .portletItem,
.portletCollection .portletItem {
}

.portletNavigationTree .navTreeItem {
    line-height: 1.5em;
}

.portletCollection .portletItem,
.portletRecent .portletItem,
.portletNavigationTree .navTreeItem {
    margin-bottom: 1px;
}

.navTreeItem a img,
.portletItem a img {
    vertical-align: bottom;
}

.portletCollection .portletItem a,
.portletRecent .portletItem a,
.portletNavigationTree .navTreeItem a,
.portletNavigationTree a {
    border: 1px solid white;
    display: block;
    padding: 2px 0 2px 20px;
    text-indent: -20px;
    color: #222;
}

.portletNavigationTree .navTreeCurrentItem,
.portletRecent .portletItem a:hover,
.portletCollection .portletItem a:hover,
.portletNavigationTree .navTreeItem a:hover,
.portletNavigationTree a:hover {
    background-color: #fee !important;
    border: 1px solid #ecc !important;
    text-decoration: none;
}

.portletRecent .portletItem a:visited,
.portletCollection .portletItem a:visited,
.portletNavigationTree .navTreeItem a:visited {
    color: #222;
    text-decoration: none;
}

.portletRecent .portletItem a:focus,
.portletCollection .portletItem a:focus,
.portletNavigationTree .navTreeItem a:focus {
    text-decoration: none;
}

.portletItemDetails {
    color: #222;
    display: block;
    text-align: right;
}

.portletFooter {
    text-align: right;
}

.portletFooter a {
    display: block;
    border: 1px solid #fff;
}

.portletFooter a:hover {
    background-color: #fee;
    border: 1px solid #ecc;
    text-decoration: none;
}
