/*
 *   Base - base.css 
 *	 Description: Base styles, building on foundation provided by reset and fonts.
 *   
 *   
**/

/* ---------------------- core ---------------------- */

	body, html {			
		color:#222;
		font-family:Verdana, Arial, Helvetica, sans-serif;	
		/* background:#f4f4f4 url(/templates/cellml/global/img/cellmlbkgrd.gif) center repeat-y; */
		background:#f4f4f4;
		/* background:#444444; */
		background:#fff;
	}
	
	html>body {	
	
	}

/* ---------------------- END core ---------------------- */



/* ---------------------- structure ---------------------- */

	#visual-portal-wrapper {	
	    margin:2em auto;
		padding:0;
		width:940px;
		background:#fff;
		/* border-top: 1px solid #CE0227; */
		border-top: 1px solid #ccc;
		text-align:left;	
		
		/*
	    min-width:800px;
		max-width:940px;
		*/
		
		/* background:#f4f4f4 url(/templates/cellml/global/img/layout-grid.gif); */
	}

	#portal-top {
		margin-top:0.75em;	
	}

	#blockContainer {	
		background-color:#fff;
		background:none;
	}	

	/*
	
		Grid information
		12 (60px) columns with 11 gutters of 20px each and two margins of 10px
		
		Home page: 			LayoutOne - 3-2-2 grid units	- 412px + 268px + 268px = 988px
		Secondary page: 	LayoutTwo - 4-2 grid units		- 660px + 330px = 990px	
		
	*/


	/* 
		Layout Zero: just one big main content area.
	*/

		#layoutZero #block1Wrapper {
			float: left;
			width: 100%;
		}
		
		#layoutZero #block1 {
			width: 100%;
		}

	/* 
		Layout One: Main column left, two fixed width ancillary columns on right
		Ref: Alex Robinson's 'One True Layout': http://www.positioniseverything.net/articles/onetruelayout/  
	*/

		#layoutOne #block1Wrapper {
			float: left;
			width: 100%;
		}
		
		#layoutOne #block1 {
			margin-right: 480px;
			/* border:1px solid green; */
		}
		
		#layoutOne #block2 {
			float: left;
			margin-left: -460px;
			width:220px;
			/* border:1px solid red; */
		}
		
		#layoutOne #block3 {
			float: left;
			margin-left: -220px;
			width: 220px;
			/* border:1px solid blue; */
		}


	/* 
		Layout Two: Main column left, two fixed width ancillary columns on right
	*/

		#layoutTwo #block1Wrapper {
			float: left;
			width: 100%;
		}
		
		#layoutTwo #block1 {
			margin-right: 480px;
			/* border:1px solid green; */
		}
		
		#layoutTwo #block2 {
			float: left;
			margin-left: -460px;
			width:300px; 
			/* border:1px solid red; */
		}

		#layoutTwo #block3 {
			float: left;
			margin-left: -140px;
			width: 140px; 
			/* border:1px solid blue; */
		}

	/* 	
		Layout Three: Two columns
		Ref: Ryan Brill: http://www.alistapart.com/articles/negativemargins 
	*/
	
		#layoutThree #block1Wrapper {
			width: 100%;
			float: left; 
			margin-right: -480px;  
		}
	
		#layoutThree #block1 {
			margin-right: 480px;
		}
	
		#layoutThree #block2 {
			width: 460px;
			float: right;
		}


	/* 	
		Layout Four: Two columns 
	*/
	
		#layoutFour #block1Wrapper {
			width: 100%;
			float: left; 
			margin-right: -320px;  
		}
	
		#layoutFour #block1 {
			margin-right: 320px;
		}
	
		#layoutFour #block2 ,
		#layoutFour #block3 {
			width: 300px;
			float: right;
		}


	/* 
		Layout Five: Main column left, two fixed width ancillary columns on right
	*/

		#layoutFive #block1Wrapper {
			float: left;
			width: 100%;
		}
		
		#layoutFive #block1 {
			margin-right: 480px;
			/* border:1px solid green; */
		}
		
		#layoutFive #block2 {
			float: left;
			margin-left: -460px;
			width:140px; 
			/* border:1px solid red; */
		}

		#layoutFive #block3 {
			float: left;
			margin-left: -300px;
			width: 300px; 
			/* border:1px solid blue; */
		}
		

	
	/* End Layout Three */

	
	#footer {
		padding: 1em 0;
		border-top:1px solid #ccc;
		background-color:#fff;		
	}

.homeTopics {
	border-top:5px solid #666;
	border-top:5px solid #CE0026;
	
}

.htRowA h2,
.htRowB h2 {
	margin-top:0.5em;
}

.htRowA {
	float:left;
	width:220px;
}

.htRowB {
	float:right;
	width:220px;
}

/* ---------------------- END structure ---------------------- */



/* ---------------------- helpers ---------------------- */

	/* Helper classes */
	.clearfix:after {
	    content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
	}

	.clearfix {
	    display: inline-block;
	}

	html[xmlns] .clearfix {
	    display: block;
	}

	* html .clearfix {
	    height: 1%;
	}

	.hide { 
		display:none; 
	}

/* ---------------------- END helpers ---------------------- */



/* ---------------------- secondary typography: content, lists and links ---------------------- */

	.content { 
		font-size:1.1em;
	}
	
	

	
	.sideTitle { 
		border-top:1px solid #666;
		padding-top:0.5em;
		color:#666;
	}
	
	ul.sideList { 
		list-style:none;
		margin:0;
		padding:0;
	}


/* ---------------------- END secondary typography: content, lists and links ---------------------- */




/* ---------------------- Brand, navigation, sidebar, footer styles ---------------------- */
	
	#CellMLLogo {
		float:left;
	}

	#portal-searchbox form  {
		margin-top:5em;
		float:right;	
		text-align:right;
		width:432px;
	}
	
	#portal-searchbox form fieldset {
		border:none;
	}
	
	#portal-searchbox form input,
	#portal-searchbox form select {
		font-family:inherit;
		padding:0.2em 0.1em;
	}
	
	#portal-searchbox form #siteSearchInput {
		width:150px;
	}		
	
	#breadCrumb {			
		margin-top:1em;
	}
	
	#footer #copyright {			
		float:left;
		width:48%		
	}
	
	#footer #portal-siteactions {			
		float:right;
		width:auto;
		text-align:right;		
	}

	#footer #portal-siteactions li {
		display: block;
		float: left;
		border-left: 1px solid #ccc;
		margin: 0;
		padding: 0 0.5em;
	}

	#footer #portal-siteactions li:first-child {
		border-left: none;
	}

	
/* ---------------------- END Brand, navigation, sidebar styles styles ---------------------- */



/* ---------------------- Links ---------------------- */

	/* 
		### Links: order is everything: link > visited > hover > focus > active ### 
		Basic link styles. These might be overridden by section-specific styles below.
	*/

	/* Global navigation */

	/*
	Massive Blue menu courtesy of www.cssmenumaker.com: http://www.cssmenumaker.com/builder/menu_info.php?menu=032
	*/
	
		#portal-globalnav {
			background: #000;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			margin-top:0.75em;
			width: 100%;
			font-size:1em;
			font-weight:bold;
		}
		#portal-globalnav li {
			float: left;
			/* font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif; */
			margin: 0;
			padding: 0;
		}
		#portal-globalnav a {
			background: #000 url(++resource++cellml.theme.images/globalnav-separator.gif) bottom right no-repeat;
			color: #fff;
			display: block;
			float: left;
			margin: 0;
			padding: 8px 12px;
			text-decoration: none;
			font-weight:normal;
		}
		#portal-globalnav a:hover,
		#portal-globalnav li.selected a {
			background: #CE0026 url(++resource++cellml.theme.images/globalnav-hover.gif) bottom center no-repeat;
			color: #fff;
			padding-bottom: 8px;
		}


	
	/* Standard link styles for content sections */
		.content a:link,
		.content a:visited {
			color: #CE0025;
			text-decoration:none;
		}
		
		.content a:visited { 
			color: #CE0025;
		}
		
		.content a:focus,
		.content a:hover {
			color: #CE0025;
			text-decoration:underline;
			/* background-color:#cccccc; */
		}	
	
	#breadCrumb ul {
		list-style: none;
		margin-left:0;
	}


	#breadCrumb ul li {
		display:inline;
	}
	
	#footer a:link,
	#footer a:visited {
		color: #222;
		text-decoration:none;
	}
	
	#footer a:visited { 
		color: #222;
	}
	
	#footer a:focus,
	#footer a:hover {
		color: #222;
		text-decoration:underline;
	}
	
/* ---------------------- Links ---------------------- */



/* ---------------------- Plone-specific styles ---------------------- */

	/* 
		Use this section to add back styles for Plone that were 
		overridden by the base CSS framework (Tripoli), or are 
		specifically required by the Plone UI.
	*/


	/* @group LiveSearch */

	.LSRes {
	    visibility: visible;
	    text-transform: none;
	    margin-left: 0;
	    line-height: 1.1em;
	}
	.LSResult {
	    position: absolute;
	        background-color: #fff;
	        padding: 8px 0 12px;
	        border-left: 1px solid black;
	        border-right: 1px solid black;
	        border-bottom: 1px solid black;
	        margin-top: -1px;
	        float: left;
	        width: 198px;
	        font-size: 11px;
	        line-height: 15px;
	        display: none;
	}

	.LSResult h4 {
	        display: none;
	}

	.LSHighlight {
	}

	.LSHighlight a {
	    color: white;
	    background-color: gray;
	}

	.LSHighlight a .livesearchResult-description {
	        color: white;
	}

	.LSResult ul {

	}

	.LSResult ul li {
	        float: left;
	        width: 150px;
	        padding: 0;
	}

	.LSResult ul li a {
	        float: left;
	        padding: 5px 5px 5px 26px;
	        width: 167px;
	        white-space: nowrap;
	}

	.LSResult .livesearchResult-title {
	        font-weight: bold;
	        white-space: normal;
	        display: inline;
	}

	.LSResult .livesearchResult-score {
	        display: inline;
	        white-space: normal;
	}

	.LSResult .livesearchResult-description {
	        float: left;
	        clear: left;
	        color: gray;
	        width: 165px;
	        white-space: normal;
	        display: inline;
	}

	.LSResult ul li a img {
	        margin-left: -20px;
	        float: left;
	        margin-top: -3px;
	}
	.LSRow {
	    white-space: normal;
	    padding:0;
	    margin: 0;
	}
	.LSRow a {
	    text-decoration: none;
	}
	.LSDescr {
	    background-color: #7dabcf;

	}
	
	/* End @group LiveSearch */
	
	
	input.searchButton {
	  padding: 1px 1px 1px 19px !important;
	  border: 1px solid #ccc !important;
	}

	#searchGadget {
	  border: 1px solid #ccc;
	}

	#portal-personaltools-wrapper {
	  line-height: 16px;
	  clear: right;
	  float: right;
	}

	#portal-personaltools-wrapper li {
	  float: left;
	  padding: 0 0.5em;
	}

	#portal-personaltools-wrapper li img {
	  vertical-align: bottom;
	}

	#portal-breadcrumbs {
	  clear: both;
	}

	dl.portletCalendar dt a.calendarPrevious {
		width: 16px !important;
		height: 0;
		overflow: hidden;
		float: right;
		position: absolute;
		background: transparent url(buttonBack.png) no-repeat 0 0 !important;
		top: 10px;
		padding: 20px 0 0 !important;
		color: #666;
		right: 29px;
		margin: 0 !important;
	}

	dl.portletCalendar dt a.calendarNext {
		width: 16px !important;
		height: 0;
		overflow: hidden;
		float: right;
		position: absolute;
		background: transparent url(buttonForward.png) no-repeat 0 0 !important;
		top: 10px;
		padding: 20px 0 0 !important;
		color: #666;
		right: 10px;
		margin: 0 !important;
	}

	.narrow dl.portletCalendar dt a.calendarPrevious {
		right: 16px;
		top: 4px;
	}

	.narrow dl.portletCalendar dt a.calendarNext {
		right: -3px;
		top: 4px;
	}

	/* @group portlet Calender */

	dl.portletCalendar dt a.calendarPrevious:hover {
		background-position: -16px 0 !important;
	}

	dl.portletCalendar dt a.calendarNext:hover {
		background-position: -16px 0 !important;
	}

	dl.portletCalendar dd {
		min-height: 170px;
		margin-right: 3px !important;
		margin-left: 3px !important;
	}

	/* @end */
	
	dl.portletCalendar dt {
		position: relative;	
		text-decoration: none;
		display: block;
	}

	dl.portletCalendar table {
		width: 100%;
		font-size: 0.9em;
	}

	.narrow dl.portletCalendar table {
		width: 216px;
		position: relative;
		left: -8px;
	}

	dl.portletCalendar table td {
		margin: 0;
		border-style: none;
		letter-spacing: 0;
		text-align: center;
		padding: 5px 0;
	}

	dl.portletCalendar table thead tr.weekdays td {
		padding-top: 0;
	}

	dl.portletCalendar table thead th {
		color: black;
		font-weight: bold;
		text-transform: uppercase;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 5px;
	}

	dl.portletCalendar table a {
		display: block;
	}

	/* @end portlet Calender */


	#portal-column-content {
	  padding: 0;
	  margin: 0;
	}

	/* @group Content Views */

	#portal-column-content ul.contentViews {
		float: left;
	        display: block;
		list-style-type: none;
		position: relative;
	        margin: 0;
	        padding: 0;
	        width: 100%;
	        background-color: #333;
	        border: 0;
	        font-size: 0.9em;
	        margin-bottom: 1em;
	}

	#portal-column-content ul.contentViews li {
		float: left;
		list-style-type: none;
		padding: 0;
		margin: 0;
	        border; 0;
	}

	#portal-column-content ul.contentViews li a {
		float: left;
		text-decoration: none;
	        display: block;
	        color: #ccc;
	        border: 0;
	        margin: 0;
	        padding: 6px 9px;
	        background: #333 url(++resource++cellml.theme.images/globalnav-separator.gif) no-repeat scroll right bottom;
	}

	#portal-column-content ul.contentViews li.selected a,
	#portal-column-content ul.contentViews li a:hover {
		color: #fff;
	        background: #ce0026 url(++resource++cellml.theme.images/globalnav-hover.gif) no-repeat scroll center bottom;
	}

	/* @end */

	/* @group Content Actions */

	div.documentEditable {
	  width: 100%;
	}

	div.contentActions {
		float: left;
	        background: #333;
	        margin: -1em 0 1em;
	        padding: 0;
	        border: 0;
	        width: 100%;
	}

	ul#contentActionMenus {
		list-style-type: none;
		width: 100%;
		float: right;
	        margin: 0;
	        padding: 0;
	        background: #333;
	}

	ul#contentActionMenus li {
		list-style-type: none;
		float: right;
		position: relative;
	        border: 0;
	}

	ul#contentActionMenus li a {
		display: block;
	}

	ul#contentActionMenus li a:hover {
		text-decoration: underline;
	}

	ul#contentActionMenus li dl {
		padding: 0;
	        margin: 0;
	}

	ul#contentActionMenus li dd {
		display: none;
	}

	ul#contentActionMenus li dd img {
		vertical-align: middle;
	}

	ul#contentActionMenus li dt {
		padding: 0;
		margin: 0;
	        background: #333 url(++resource++cellml.theme.images/globalnav-separator.gif) no-repeat scroll right bottom;
	}

	ul#contentActionMenus li dt a {
		display: block;
	        color: #ccc;
	}

	ul#contentActionMenus li a img {
			background-color: white;
			width: 16px;
			height: 16px;
		margin-top: -3px;
	}

	ul#contentActionMenus li dd.actionMenuContent img {
			background-color: inherit;
			margin-bottom: 0;
			width: auto;
			height: auto;
		padding: 0;
	}


	ul#contentActionMenus li dt a  span.arrowDownAlternative {
		font-size: 0.9em;
	}

	ul#contentActionMenus li dt.label-state-private a {
		text-decoration: none;	
		color: #ff7664;
	}

	ul#contentActionMenus li dt.label-state-pending a {
		text-decoration: none;	
		color: orange;
	}

	ul#contentActionMenus li dt.label-state-visible a {
		text-decoration: none;	
		color: #a3e63d;
	}

	ul#contentActionMenus li dt.label-state-published a {
		text-decoration: none;	
		color: #7dabcf;
	}

	ul#contentActionMenus li dt a:hover {
		text-decoration: none;
	}

	ul#contentActionMenus dl.activated dt {
		background: url(listBox-header-right.gif) no-repeat right top;
		position: relative;
		z-index: 1000;
		color: #fff;
		text-decoration: none;
	}

	ul#contentActionMenus dl.activated dt a {
		color: #fff;
		text-decoration: none;

		background: url(listBox-header-left.gif) no-repeat left top;
		position: relative;
		z-index: 1000;
	}

	ul#contentActionMenus dl.activated dd {
		display: block;
		float: left;
		position: absolute;
		right: 0;
	        width: 150px;
	        overflow: hidden;
	}


	ul#contentActionMenus dl.activated ul {
	        width: 100%;
		float: left;
		background: #333;
	        padding: 0 5px;
	        border: none;
	}

	ul#contentActionMenus dl.activated ul li {
		float: left;
	        width: 100%;
	}

	ul#contentActionMenus dl.activated ul li a {
	        width: 100%;
		display: block;
		text-decoration: none;
		color: #ccc;
	        padding: 0 5px;
	        margin-left: -5px;
		text-align: left;
	}

	ul#contentActionMenus dl.activated ul li a:hover {
		color: #fff;
	        background: #ce0026;
	}

	ul#contentActionMenus li.actionSeparator {
	        color: #ccc;
	}

	ul#contentActionMenus li.actionSeparator a {
		border-top: 1px dotted #bbb;
	}


	/* @end */


	.documentEditable .documentContent {
	  border: 1px solid #ccc;
	}
	

/* ---------------------- End Plone-specific styles ---------------------- */
