/*
 *   Base - base.css 
 *	 Description: Base styles, building on foundation provided by reset and fonts.
 *   
 *   
**/

/* ---------------------- core ---------------------- */

html {
    background: #e6e8f0 center;
    font-size: 0.625em;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
}

a[name] {
    text-decoration: none;
}

pre {
    padding: 2em;
    border: 1px solid #ccc;
}

/* ---------------------- END core ---------------------- */



/* ---------------------- structure ---------------------- */

#global-wrapper {	
    height: 100%;
    min-height: 100%;
}

#visual-portal-wrapper {	
    margin: 0 auto -3.1em;
    padding: 0 3em 0;
    width: 940px;
    text-align: left;	
    background: url(++resource++cellml.theme.images/body-shadow.png) center repeat-y;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    
    /*
    min-width: 800px;
    max-width: 940px;
    */
    
    /* background: #f4f4f4 url(/templates/cellml/global/img/layout-grid.gif); */
}

#portal-top {
    padding-top: 0.75em;	
}

#clear-space-before-wrapper-table {
    padding-bottom: 0.6em;
}

#portal-personaltools-wrapper {
    float: right;
    padding: 0.8em 0 0;

    /* XXX Firefox 2 somehow calculates width as 100% 
     * anyway, width normally don't exceed this much anyway */
    max-width: 620px;
}

#portal-personaltools li a span {
    vertical-align: top;
}

#portal-personaltools li a img {
    vertical-align: top;
    margin: -0.2em 0 -0.2em;
}

#portal-personaltools a:link,
#portal-personaltools a:visited {
    color: #222;
    text-decoration: none;
}

#portal-personaltools a:visited { 
    color: #222;
}

#portal-personaltools a:focus,
#portal-personaltools a:hover {
    color: #222;
    text-decoration: underline;
}

#portal-columns {
    clear: both;
}

#content .documentActions,
#sticky-footer #portal-siteactions,
#portal-personaltools {
    float: right;
    width: auto;
    text-align: right;		
    line-height: 1.1em;
}

#content .documentActions li {
    font-size: 90%;
}

#content .documentActions li,
#sticky-footer #portal-siteactions li,
#portal-personaltools li {
    display: block;
    float: left;
    border-left: 1px solid #ccc;
    margin: 0;
    padding: 0 0.5em;
}

#content .documentActions li a:focus,
#content .documentActions li a:hover,
#content .documentActions li a:visited,
#content .documentActions li a:link {
    color: #222;
    border-bottom: none;
}

#content .documentActions li a:hover {
    text-decoration: underline;
}

#sticky-footer #portal-siteactions li:first-child,
#portal-personaltools li:first-child {
    border-left: none;
}

#sticky-footer #portal-siteactions li:last-child,
#portal-personaltools li:last-child {
    padding-right: 0;
}

/* Opera 9 bug requires another nested class to clear */

#sticky-footer {
    clear: both;
    padding: 0 3em 0;
    width: 940px;
    margin: 0 auto;
    /* XXX this will break image backgrounds */ 
    background: #e6e8f0 url(++resource++cellml.theme.images/body-shadow.png) center repeat-y;
}

#sticky-footer-divider {
    clear: both;
    width: 940px;
    margin: 0 auto;
    height: 1em;
    border-top: 1px solid #ccc;
}

#blockContainer {	
    background-color: #fff;
    background: none;
}	

#content {
    background: #fff;
    height: auto;
    min-height: 100%;
    clear: both;
}

/* Sticky footer related styles */

#sticky-pusher:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#sticky-pusher {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html #sticky-pusher { height: 1%;}
#sticky-pusher {display: block;}
/* End hide from IE-mac */

/* "Dynamic" bottom footer depending on layers */
/* 3.1 + (7 * n) em */

#sticky-0 #visual-portal-wrapper {	
    margin: 0 auto -3.1em;
}

#sticky-1 #visual-portal-wrapper {	
    margin: 0 auto -10.1em;
}

#sticky-2 #visual-portal-wrapper {	
    margin: 0 auto -17.1em;
}

#sticky-0 #sticky-pusher {
    padding-bottom: 3.1em;
}

#sticky-1 #sticky-pusher {
    padding-bottom: 10.1em;
}

#sticky-2 #sticky-pusher {
    padding-bottom: 17.1em;
}

/* heights here to constrain user-added content */
#sticky-0 #sticky-footer {
    height: 3.1em;
}

#sticky-1 #sticky-footer {
    height: 10.1em;
}

#sticky-2 #sticky-footer {
    height: 17.1em;
}

/*
  Grid information
  12 (60px) columns with 11 gutters of 20px each and two margins of 10px
  
  Home page: LayoutOne - 3-2-2 grid units - 412px + 268px + 268px = 988px
  Secondary page: LayoutTwo - 4-2 grid units - 660px + 330px = 990px	
*/


/* 
  Layout Zero: just one big main content area.
*/

#layoutZero #content-wrapper {
    float: left;
    width: 100%;
}

#layoutZero #portal-column-content {
    width: 100%;
}

/* 
  Layout One: Main column left, two fixed width ancillary columns on right
  Ref: Alex Robinson's 'One True Layout': http://www.positioniseverything.net/articles/onetruelayout/  
*/

#layoutOne #content-wrapper {
    float: left;
    width: 100%;
}

#layoutOne #portal-column-content {
    margin-right: 480px;
}

#layoutOne #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutOne #portal-column-one {
    float: left;
    margin-left: -460px;
    width: 220px;
}

#layoutOne #portal-column-two {
    float: left;
    margin-left: -220px;
    width: 220px;
    /* border: 1px solid blue; */
}


/* 
  Layout Two: Main column left, two fixed width ancillary columns on right
*/

#layoutTwo #content-wrapper {
    float: left;
    width: 100%;
}

#layoutTwo #portal-column-content {
    margin-right: 480px;
}

#layoutTwo #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutTwo #portal-column-one {
    float: left;
    margin-left: -460px;
    width: 300px; 
}

#layoutTwo #portal-column-two {
    float: left;
    margin-left: -140px;
    width: 140px; 
}

/* 	
  Layout Three: Two columns
  Ref: Ryan Brill: http://www.alistapart.com/articles/negativemargins 
*/

#layoutThree #content-wrapper {
    width: 100%;
    float: left; 
    margin-right: -480px;  
}

#layoutThree #portal-column-content {
    margin-right: 480px;
}

#layoutThree #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutThree #portal-column-one {
    width: 460px;
    float: right;
}


/* 	
Layout Four: Two columns 
*/

#layoutFour #content-wrapper {
    width: 100%;
    float: left; 
    margin-right: -320px;  
}

#layoutFour #portal-column-content {
    margin-right: 320px;
}

#layoutFour #portal-column-content .photoAlbum {
    width: 640px;
}

#layoutFour #portal-column-one ,
#layoutFour #portal-column-two {
    width: 300px;
    float: right;
}


/* 	
  Layout Four Slim: Two columns 
*/

#layoutFourSlim #content-wrapper {
    width: 100%;
    float: left; 
    margin-right: -240px;  
}

#layoutFourSlim #portal-column-content {
    margin-right: 240px;
}

#layoutFourSlim #portal-column-content .photoAlbum {
    width: 720px;
}

#layoutFourSlim #portal-column-one ,
#layoutFourSlim #portal-column-two {
    width: 220px;
    float: right;
}

/* 	
  Layout Four Slimmer: Two columns 
*/

#layoutFourSlimmer #content-wrapper {
    width: 100%;
    float: left; 
    margin-right: -160px;  
}

#layoutFourSlimmer #portal-column-content {
    margin-right: 160px;
}

#layoutFourSlimmer #portal-column-content .photoAlbum {
    width: 800px;
}

#layoutFourSlimmer #portal-column-one ,
#layoutFourSlimmer #portal-column-two {
    width: 140px;
    float: right;
}


/* 
  Layout Five: Main column left, two fixed width ancillary columns on right
*/

#layoutFive #content-wrapper {
    float: left;
    width: 100%;
}

#layoutFive #portal-column-content {
    margin-right: 480px;
    /* border: 1px solid green; */
}

#layoutFive #portal-column-content .photoAlbum {
    width: 480px;
}

#layoutFive #portal-column-one {
    float: left;
    margin-left: -460px;
    width: 140px; 
    /* border: 1px solid red; */
}

#layoutFive #portal-column-two {
    float: left;
    margin-left: -300px;
    width: 300px; 
    /* border: 1px solid blue; */
}

/* Safari Bug Fix as there might be negative margins that prevent 
 * interaction with elements within these blocks. */
#portal-column-one, #portal-column-two {
    position: relative;
}

/*
 * content classes for indexes pages.
 */

.homeTopics {
}

.htRowA h2,
.htRowB h2 {
    margin-top: 0;
    border-top: 2px solid #c00;
    padding-top: 0.5em;
}

.htRowA,
.htRowB {
    width: 220px;
}

#layoutFour .htRowA,
#layoutFour .htRowB {
    width: 300px;
}

/* XXX not valid grid size */
#layoutFourSlim .htRowA,
#layoutFourSlim .htRowB {
    width: 340px;
}

#layoutFourSlimmer .htRowA,
#layoutFourSlimmer .htRowB {
    width: 380px;
}

.htRowA {
    float: left;
}

.htRowB {
    float: right;
}

/* Other content classes */

.projectTeamList p {
    margin-left: 100px;
    margin-bottom: 2.5em;
}

.projectTeamList h3 {
}

.projectTeamList img {
    padding: 4px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.sponsor-bar {
    text-align: center;
    margin-bottom: 1em;
}

.sponsor-bar a {
    border-bottom: 0 !important;
}

.sponsor-bar img {
    margin: 0 1em;
}


/* ---------------------- END structure ---------------------- */

/* photos */

.photoAlbumEntry {
    width: 140px;
    float: left;
    margin-right: 20px;
}

.photoAlbumEntryWrapper {
    display: block;
    text-align: center;
}

.photoAlbumEntryTitle {
    text-align: center;
    display: block;
}

.tileImage, .newsImage {
    float: right;
    margin-left: 20px;
}

/* ---------------------- helpers ---------------------- */

/* Helper classes */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.hide { 
    display: none; 
}

/* ---------------------- END helpers ---------------------- */



/* ---------------------- secondary typography: content, lists and links ---------------------- */

.sideTitle { 
    border-top: 1px solid #666;
    padding-top: 0.5em;
    color: #666;
}

ul.sideList { 
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hide filed under: */
#category {
    display: none;
}

/* Hide the description of the object in the pages */
.documentDescription {
    display: none;
}

#content h1:first-child {
    margin-top: 0 !important;
}

#viewlet-above-content + h1 {
    margin-top: 0 !important;
}

ol.spacious li,
ul.spacious li {
    margin: 0.4em 0;
}


/* ---------------------- END secondary typography: content, lists and links ---------------------- */




/* ---------------------- Brand, navigation, sidebar, footer styles ---------------------- */

#CellMLLogo {
    float: left;
}

#PhysiomeLogo {
    float: left;
}

#PartOfLogo {
    float: right;
    height: 50px;
}

#portal-searchbox form  {
    clear: right;
    margin-top: 0.6em;
    float: right;	
    text-align: right;
    width: 432px;
}

#portal-searchbox form fieldset {
    border: none;
}

#portal-searchbox form input,
#portal-searchbox form select {
    font-family: inherit;
    padding: 0.2em 0.1em;
}

#portal-searchbox form #siteSearchInput {
    width: 150px;
}		

.searchCellML .searchButton {
    display: none;
}

/* @group LiveSearch */

.LSRes {
    visibility: visible;
    text-transform: none;
    margin-left: 0;
    line-height: 1.1em;
}

.LSBox {
    float: right !important;
    width: 220px;
}

.LSResult {
    float: right !important;
    overflow: hidden;
    position: absolute;
    padding: 8px 0 12px;
    margin-top: -15px;
    margin-left: -152px;
    float: left;
    width: 372px;
    line-height: 15px;
    text-align: left;
    display: none;
    z-index: 1000;
}

.LSResult h4 {
    border-right: none;
    background-color: #fff;
    border: 1px solid black;
    border-bottom: none;
    padding: 5px 10px 1px;
    display: inline;
}

.LSHighlight {
}

.LSHighlight a {
    color: white;
    background-color: gray;
}

.LSHighlight a .livesearchResult-description {
    color: white;
}

.LSResult ul {
    float: left;
    background-color: #fff;
    border: 1px solid black;

}

.LSResult ul li {
    float: left;
    clear: left;
    padding: 0;
}

.LSResult ul li a {
    float: left;
    display: block;
    width: 339px;
    padding: 5px 5px 5px 26px;
    white-space: nowrap;
    text-decoration: none;
}

.LSResult ul li a:hover {
    background: #eee;
}

.LSResult .livesearchResult-title {
    font-weight: bold;
    white-space: normal;
    display: inline;
}

.LSResult .livesearchResult-score {
    display: inline;
    white-space: normal;
}

.LSResult .livesearchResult-description {
    float: left;
    clear: left;
    color: gray;
    white-space: normal;
    display: inline;
}

.LSResult ul li a img {
    margin-left: -20px;
    float: left;
    margin-top: -3px;
}
.LSRow {
    white-space: normal;
    padding: 0;
    margin: 0;
}
.LSDescr {
    background-color: #7dabcf;
}

/* End @group LiveSearch */

#portal-breadcrumbs {
    margin: 0.8em 0 0.7em;
    clear: left;
    float: left;
    width: auto;
}

#portal-breadcrumbs a {
    color: #c00;
    text-decoration: none;
}

#portal-breadcrumbs a:hover {
    text-decoration: underline;
}

#sticky-footer #copyright {			
    float: left;
    width: 48%;
}

/* ---------------------- END Brand, navigation, sidebar styles styles ---------------------- */



/* ---------------------- Links ---------------------- */

/* 
  ### Links: order is everything: link > visited > hover > focus > active ### 
  Basic link styles. These might be overridden by section-specific styles below.
*/

/* Global navigation */

/*
  Massive Blue menu courtesy of www.cssmenumaker.com: http://www.cssmenumaker.com/builder/menu_info.php?menu=032
*/

#portal-globalnav {
    background: #333;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}
#portal-globalnav li {
    float: left;
    /* font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif; */
    margin: 0;
    padding: 0;
    background: #333 url(++resource++cellml.theme.images/globalnav-separator.png) bottom right no-repeat;
}

#portal-globalnav a {
    color: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 5px 1px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1px;
    text-align: center;
    width: 102px;
    overflow: hidden;
    white-space: nowrap;
}

#portal-globalnav a:hover,
#portal-globalnav li.selected a {
    background: #c00;
    color: #fff;
}


/* Standard link styles for content sections */

.content a:link,
.content a:visited {
    color: #c00;
    text-decoration: none;
}

.content a:visited { 
    color: #c00;
}

.content a:focus,
.content a:hover {
    color: #c00;
    text-decoration: underline;
}	

/* Standard link styles for content sections */
.portlet a:link,
.portlet a:visited,
#content a:link,
#content a:visited {
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #bbb;
}

.portlet a:focus,
.portlet a:hover,
#content a:focus,
#content a:hover {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #666;
}

/* specialized link styles for non-content that is in content section */

/* this part is requried for very explicitness
#content a:link,
#content a:visited,
*/
.portlet .portletItem h1 a:link,
.portlet .portletItem h1 a:visited,
.portlet .portletItem h2 a:link,
.portlet .portletItem h2 a:visited,
.portlet .portletItem h3 a:link,
.portlet .portletItem h3 a:visited,
.portlet .portletHeader a:link,
.portlet .portletHeader a:visited,
.portlet .portletHeader a:hover,
.portlet .portletHeader a:focus,
.portlet .portletFooter a:link,
.portlet .portletFooter a:visited,
.portlet .portletFooter a:hover,
.portlet .portletFooter a:focus,
#content .listingBar a:link,
#content .listingBar a:visited,
#content .homeTopics h2 a:link,
#content .homeTopics h2 a:visited,
#content .documentByLine a:link,
#content .documentByLine a:visited {
    color: #c00;
    text-decoration: none;
    border: 0;
}

#content #document-toc li a:link,
#content #document-toc li a:visited {
    color: #333;
    text-decoration: none;
    border: 0;
}

/* this part is requried for very explicitness
#content a:focus,
#content a:hover,
*/
.portlet .portletItem h1 a:focus,
.portlet .portletItem h1 a:hover,
.portlet .portletItem h2 a:focus,
.portlet .portletItem h2 a:hover,
.portlet .portletItem h3 a:focus,
.portlet .portletItem h3 a:hover,
#content .listingBar a:focus,
#content .listingBar a:hover,
#content .homeTopics h2 a:focus,
#content .homeTopics h2 a:hover,
#content .documentByLine a:focus,
#content .documentByLine a:hover {
    color: #c00;
    text-decoration: underline;
}	

.portlet .portletHeader a:focus,
.portlet .portletHeader a:hover,
.portlet .portletFooter a:focus,
.portlet .portletFooter a:hover {
    color: #c00;
}	

#content #document-toc li a:focus,
#content #document-toc li a:hover {
    color: #333;
    text-decoration: underline;
    border: 0
}

/* breadcrumbs and other sections */

#breadCrumb ul {
    list-style: none;
    margin-left: 0;
}

#breadCrumb ul li {
    display: inline;
}

#sticky-footer a:link,
#sticky-footer a:visited {
    color: #222;
    text-decoration: none;
    border: none;
}

#sticky-footer a:visited { 
    color: #222;
}

#sticky-footer a:focus,
#sticky-footer a:hover {
    color: #222;
    text-decoration: underline;
    border: none;
}

/* Plone portlets */

.portlet {
    margin-bottom: 1.6em;
}

.portletHeader {
    font-size: 1.3em;
    border-top: 1px solid #666666;
    color: #333;
    line-height: 1.9em;
    padding: 0.15em 0;
}

.portletHeader a:link,
.portletHeader a {
    display: block;
    border: 1px solid #fff;
}

.portletHeader a:hover {
    background-color: #eee;
    border: 1px solid #eee;
    text-decoration: none;
}

/* viewlet manager */

.managedPortlet .portletHeader a,
.notify .portletHeader a {
    display: inline;
    border: none;
}

.managedPortlet .portletHeader a:hover,
.notify .portletHeader a:hover {
    background-color: transparent;
}

.portletRecent .portletItem,
.portletCollection .portletItem {
}

.portletNavigationTree .navTreeItem {
    line-height: 1.5em;
}

.portletCollection .portletItem,
.portletRecent .portletItem,
.portletNavigationTree .navTreeItem {
    margin-bottom: 1px;
}

.navTreeItem a img,
.portletItem a img {
    vertical-align: bottom;
}

.portletCollection .portletItem a,
.portletRecent .portletItem a,
.portletNavigationTree .navTree .navTreeItem a,
.portletNavigationTree a {
    border: 1px solid white;
    display: block;
    padding: 2px 0 2px 20px;
    text-indent: -20px;
    color: #222;
}

.portletNavigationTree .navTreeCurrentItem,
.portletRecent .portletItem a:focus,
.portletCollection .portletItem a:focus,
.portletNavigationTree .navTreeItem a:focus,
.portletNavigationTree a:focus,
.portletRecent .portletItem a:hover,
.portletCollection .portletItem a:hover,
.portletNavigationTree .navTreeItem a:hover,
.portletNavigationTree a:hover {
    background-color: #eee;
    border: 1px solid #eee;
    text-decoration: none;
}

.portletRecent .portletItem a:visited,
.portletCollection .portletItem a:visited,
.portletNavigationTree .navTreeItem a:visited {
    color: #222;
    text-decoration: none;
}

.portletRecent .portletItem a:focus,
.portletCollection .portletItem a:focus,
.portletNavigationTree .navTreeItem a:focus {
    text-decoration: none;
}

.portletItemDetails {
    color: #222;
    display: block;
    text-align: right;
}

.portletFooter {
    text-align: right;
}

.portletFooter a {
    display: block;
    border-bottom: 1px solid #fff;
}

.portletFooter a:hover {
    background-color: #eee;
    border-bottom: 1px solid #eee;
    text-decoration: none;
}

/* Header and footer portlets rules */

#portal-header .portlet {
    margin: 0 0 0.7em 0;
    padding: 0 0 0.7em 0;
    border-bottom: 1px solid #ccc;
}

#sticky-footer .portlet {
    clear: both;
    height: 6em;
    overflow: hidden;
    /* background: url(++resource++cellml.theme.images/body-shadow.png) center repeat-y; */
    margin: 0;
    padding: 1em 0 0;
}

#portal-header .portlet .portletHeader,
#footer .portlet .portletHeader,
#sticky-footer .portlet .portletHeader {
    display: none;
}
