/* ---------------------- Plone-specific styles ---------------------- */

/* 
 * This file includes styles for Plone elements that were copied from
 * the default or NuPlone skin, and may have been slightly modified to
 * work.  However, it needs to be modified to better suit the CellML 
 * brand, and when done so, it needs to be included in base.css and its
 * styles removed from here.
 * */

/* @group LiveSearch */

.LSRes {
    visibility: visible;
    text-transform: none;
    margin-left: 0;
    line-height: 1.1em;
}

.LSBox {
    float: right !important;
}

.LSResult {
    float: right !important;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    padding: 8px 0 12px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -1px;
    float: left;
    width: 198px;
    font-size: 11px;
    line-height: 15px;
    display: none;
}

.LSResult h4 {
    display: none;
}

.LSHighlight {
}

.LSHighlight a {
    color: white;
    background-color: gray;
}

.LSHighlight a .livesearchResult-description {
    color: white;
}

.LSResult ul {

}

.LSResult ul li {
    float: left;
    width: 150px;
    padding: 0;
}

.LSResult ul li a {
    float: left;
    padding: 5px 5px 5px 26px;
    width: 167px;
    white-space: nowrap;
}

.LSResult .livesearchResult-title {
    font-weight: bold;
    white-space: normal;
    display: inline;
}

.LSResult .livesearchResult-score {
    display: inline;
    white-space: normal;
}

.LSResult .livesearchResult-description {
    float: left;
    clear: left;
    color: gray;
    width: 165px;
    white-space: normal;
    display: inline;
}

.LSResult ul li a img {
    margin-left: -20px;
    float: left;
    margin-top: -3px;
}
.LSRow {
    white-space: normal;
    padding:0;
    margin: 0;
}
.LSRow a {
    text-decoration: none;
}
.LSDescr {
    background-color: #7dabcf;

}

/* End @group LiveSearch */

input.searchButton {
    padding: 1px 1px 1px 19px !important;
    border: 1px solid #ccc !important;
}

#searchGadget {
    border: 1px solid #ccc;
}

#portal-personaltools-wrapper {
    line-height: 16px;
    clear: right;
    float: right;
}

#portal-personaltools-wrapper li {
    float: left;
    padding: 0 0.5em;
}

#portal-personaltools-wrapper li img {
    vertical-align: bottom;
}

#portal-breadcrumbs {
    clear: both;
}

dl.portletCalendar dt a.calendarPrevious {
    width: 16px !important;
    height: 0;
    overflow: hidden;
    float: right;
    position: absolute;
    background: transparent url(buttonBack.png) no-repeat 0 0 !important;
    top: 10px;
    padding: 20px 0 0 !important;
    color: #666;
    right: 29px;
    margin: 0 !important;
}

dl.portletCalendar dt a.calendarNext {
    width: 16px !important;
    height: 0;
    overflow: hidden;
    float: right;
    position: absolute;
    background: transparent url(buttonForward.png) no-repeat 0 0 !important;
    top: 10px;
    padding: 20px 0 0 !important;
    color: #666;
    right: 10px;
    margin: 0 !important;
}

.narrow dl.portletCalendar dt a.calendarPrevious {
    right: 16px;
    top: 4px;
}

.narrow dl.portletCalendar dt a.calendarNext {
    right: -3px;
    top: 4px;
}

/* @group portlet Calender */

dl.portletCalendar dt a.calendarPrevious:hover {
    background-position: -16px 0 !important;
}

dl.portletCalendar dt a.calendarNext:hover {
    background-position: -16px 0 !important;
}

dl.portletCalendar dd {
    min-height: 170px;
    margin-right: 3px !important;
    margin-left: 3px !important;
}

/* @end */

dl.portletCalendar dt {
    position: relative;	
    text-decoration: none;
    display: block;
}

dl.portletCalendar table {
    width: 100%;
    font-size: 0.9em;
}

.narrow dl.portletCalendar table {
    width: 216px;
    position: relative;
    left: -8px;
}

dl.portletCalendar table td {
    margin: 0;
    border-style: none;
    letter-spacing: 0;
    text-align: center;
    padding: 5px 0;
}

dl.portletCalendar table thead tr.weekdays td {
    padding-top: 0;
}

dl.portletCalendar table thead th {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
}

dl.portletCalendar table a {
    display: block;
}

/* @end portlet Calender */


#portal-column-content {
    padding: 0;
    margin: 0;
}

/* @group Content Views */
/* This group is the bordered pane for the logged in users (or otherwise
 * enabled because the view requires it for users not logged in). */

#portal-column-content ul.contentViews {
    float: left;
    display: block;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    border: 0;
    font-size: 0.9em;
    margin-bottom: 1em;
}

#portal-column-content ul.contentViews li {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border; 0;
}

#portal-column-content ul.contentViews li a {
    float: left;
    text-decoration: none;
    display: block;
    color: #ccc;
    border: 0;
    margin: 0;
    padding: 6px 9px;
    background: #333 url(++resource++cellml.theme.images/globalnav-separator.gif) no-repeat scroll right bottom;
}

#portal-column-content ul.contentViews li.selected a,
#portal-column-content ul.contentViews li a:hover {
    color: #fff;
    background: #ce0026 url(++resource++cellml.theme.images/globalnav-hover.gif) no-repeat scroll center bottom;
}

/* @end */

/* @group Content Actions */

div.documentEditable {
    width: 100%;
}

div.contentActions {
    float: left;
    background: #333;
    margin: -1em 0 1em;
    padding: 0;
    border: 0;
    width: 100%;
}

ul#contentActionMenus {
    list-style-type: none;
    width: 100%;
    float: right;
    margin: 0;
    padding: 0;
    background: #333;
}

ul#contentActionMenus li {
    list-style-type: none;
    float: right;
    position: relative;
    border: 0;
}

ul#contentActionMenus li a {
    display: block;
}

ul#contentActionMenus li a:hover {
    text-decoration: underline;
}

ul#contentActionMenus li dl {
    padding: 0;
    margin: 0;
}

ul#contentActionMenus li dd {
    display: none;
}

ul#contentActionMenus li dd img {
    vertical-align: middle;
}

ul#contentActionMenus li dt {
    padding: 0;
    margin: 0;
    background: #333 url(++resource++cellml.theme.images/globalnav-separator.gif) no-repeat scroll right bottom;
}

ul#contentActionMenus li dt a {
    display: block;
    color: #ccc;
}

ul#contentActionMenus li a img {
    background-color: white;
    width: 16px;
    height: 16px;
    margin-top: -3px;
}

ul#contentActionMenus li dd.actionMenuContent img {
    background-color: inherit;
    margin-bottom: 0;
    width: auto;
    height: auto;
    padding: 0;
}


ul#contentActionMenus li dt a  span.arrowDownAlternative {
    font-size: 0.9em;
}

ul#contentActionMenus li dt.label-state-private a {
    text-decoration: none;	
    color: #ff7664;
}

ul#contentActionMenus li dt.label-state-pending a {
    text-decoration: none;	
    color: orange;
}

ul#contentActionMenus li dt.label-state-visible a {
    text-decoration: none;	
    color: #a3e63d;
}

ul#contentActionMenus li dt.label-state-published a {
    text-decoration: none;	
    color: #7dabcf;
}

ul#contentActionMenus li dt a:hover {
    text-decoration: none;
}

ul#contentActionMenus dl.activated dt {
    background: url(listBox-header-right.gif) no-repeat right top;
    position: relative;
    z-index: 1000;
    color: #fff;
    text-decoration: none;
}

ul#contentActionMenus dl.activated dt a {
    color: #fff;
    text-decoration: none;

    background: url(listBox-header-left.gif) no-repeat left top;
    position: relative;
    z-index: 1000;
}

ul#contentActionMenus dl.activated dd {
    display: block;
    float: left;
    position: absolute;
    right: 0;
    width: 150px;
    overflow: hidden;
}


ul#contentActionMenus dl.activated ul {
    width: 100%;
    float: left;
    background: #333;
    padding: 0 5px;
    border: none;
}

ul#contentActionMenus dl.activated ul li {
    float: left;
    width: 100%;
}

ul#contentActionMenus dl.activated ul li a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #ccc;
    padding: 0 5px;
    margin-left: -5px;
    text-align: left;
}

ul#contentActionMenus dl.activated ul li a:hover {
    color: #fff;
    background: #ce0026;
}

ul#contentActionMenus li.actionSeparator {
    color: #ccc;
}

ul#contentActionMenus li.actionSeparator a {
    border-top: 1px dotted #bbb;
}


/* @end */

.documentEditable .documentContent {
    border: 1px solid #ccc;
}

/* Status messages */

dl.portalMessage {
    background-color: #ffffe3;
    border: 1px solid #996;
    clear: both;
}
dl.portalMessage a {
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;
}
dl.error dt {
    background-color: #d00;
}
dl.warning {
    border-color: #d80;
}
dl.warning dd {
    background-color: #fd7;
}
dl.error {
    border-color: #d80;
}
dl.error dd {
    background-color: #fd7;
}

/* Other overrides that are necessary due to the way this skin is built */

/* these are entrapped inside the block2 and block3 which has fixed
 * width.  We remove the width restriction here.
 */

#portal-column-one {
    width: 100%;
}

#portal-column-two {
    width: 100%;
}

/* Plone way of doing hidden structure, but this margin definition was
 * overriden by Tripoli */

.hiddenStructure {
    margin: -1px 0 0 -1px !important;
}

/* 
 * Tripoli resets everything.  If we don't specify .content for the 
 * specific elements, we don't need to do this.  If I need h[1-6] to be
 * the same size for a particular inner element, I will make it so there
 * and not make these elements all the same size in global scope.
 * The content class can happily use the h1 defined in global scope,
 * with internal overrides.
 *
 * I will s/\.content //g for the base elements (i.e. p, h[1-6]) in the
 * tripoli.base.css
 */

html.kupu-html
{
    line-height:1.6em;
}

html.kupu-html body
{
    font-size:1em;
}

html.kupu-html h1
{
    font-size:1.6em;
    line-height:1;
    margin:1em 0 .5em;
}

html.kupu-html h2
{
    font-size:1.5em;
    line-height:1;
    margin:1.07em 0 .535em;
}

html.kupu-html h3
{
    font-size:1.4em;
    line-height:1;
    margin:1.14em 0 .57em;
}

html.kupu-html h4
{
    font-size:1.3em;
    line-height:1;
    margin:1.23em 0 .615em;
}

html.kupu-html h5
{
    font-size:1.2em;
    line-height:1;
    margin:1.33em 0 .67em;
}

html.kupu-html h6
{
    font-size:1em;
    line-height:1;
    margin:1.6em 0 .8em;
}

html.kupu-html hr
{
    display:block;
    background:black;
    color:black;
    width:100%;
    height:1px;
    border:none;
}

html.kupu-html ul
{
    list-style:disc outside;
}

html.kupu-html ol
{
    list-style:decimal outside;
}

html.kupu-html table
{
    border-collapse:collapse;
}

html.kupu-html hr,html.kupu-html p,html.kupu-html ul,html.kupu-html ol,html.kupu-html dl,html.kupu-html pre, html.kupu-html address,html.kupu-html table,html.kupu-html form
{
    margin-bottom:1.6em;
}

html.kupu-html p+p
{
    margin-top:-.8em;
}

html.kupu-html fieldset
{
    margin:1.6em 0;
    padding:1.6em;
}

/* \*/

html.kupu-html legend
{
    padding-left:.8em;
    padding-right:.8em;
}

/* */

html.kupu-html fieldset>*:first-child
{
    margin-top:0;
}

html.kupu-html textarea, html.kupu-html input[type='text']
{
    padding:.1em .2em;
}

html.kupu-html input
{
    padding:.2em .1em;
}

html.kupu-html select
{
    padding:.2em .1em 0;
}

html.kupu-html select[multiple]
{
    margin-bottom:.8em;
}

html.kupu-html option
{
    padding:0 .4em .1em;
}

html.kupu-html button
{
    padding:.3em .5em;
}

html.kupu-html input[type='radio']
{
    position:relative;
    bottom:-.2em;
}

html.kupu-html dt
{
    margin-top:.8em;
    margin-bottom:.4em;
}

html.kupu-html ul,html.kupu-html ol
{
    margin-left:2.2em;
}

html.kupu-html caption,html.kupu-html form div
{
    padding-bottom:.8em;
}

html.kupu-html ul ul,html.kupu-html ol ul,html.kupu-html ul ol,html.kupu-html ol ol
{
    margin-bottom:0;
}

/*
_______________________________
END */

/* ---------------------- End Plone-specific styles ---------------------- */

