/* ---------------------- Plone-specific styles ---------------------- */

/* 
 * This file includes styles for Plone elements that were copied from
 * the default or NuPlone skin, and may have been slightly modified to
 * work.  However, it needs to be modified to better suit the CellML 
 * brand, and when done so, it needs to be included in base.css and its
 * styles removed from here.
 * */

input.searchButton {
    padding: 1px 1px 1px 19px !important;
    border: 1px solid #ccc !important;
}

#searchGadget {
    border: 1px solid #ccc;
}

#portal-personaltools-wrapper {
    line-height: 16px;
    clear: right;
    float: right;
}

#portal-personaltools-wrapper li {
    float: left;
    padding: 0 0.5em;
}

#portal-personaltools-wrapper li img {
    vertical-align: bottom;
}

#portal-breadcrumbs {
    clear: both;
}

dl.portletCalendar dt a.calendarPrevious {
    width: 16px !important;
    height: 0;
    overflow: hidden;
    float: right;
    position: absolute;
    background: transparent url(buttonBack.png) no-repeat 0 0 !important;
    top: 10px;
    padding: 20px 0 0 !important;
    color: #666;
    right: 29px;
    margin: 0 !important;
}

dl.portletCalendar dt a.calendarNext {
    width: 16px !important;
    height: 0;
    overflow: hidden;
    float: right;
    position: absolute;
    background: transparent url(buttonForward.png) no-repeat 0 0 !important;
    top: 10px;
    padding: 20px 0 0 !important;
    color: #666;
    right: 10px;
    margin: 0 !important;
}

.narrow dl.portletCalendar dt a.calendarPrevious {
    right: 16px;
    top: 4px;
}

.narrow dl.portletCalendar dt a.calendarNext {
    right: -3px;
    top: 4px;
}

/* @group portlet Calender */

dl.portletCalendar dt a.calendarPrevious:hover {
    background-position: -16px 0 !important;
}

dl.portletCalendar dt a.calendarNext:hover {
    background-position: -16px 0 !important;
}

dl.portletCalendar dd {
    min-height: 170px;
    margin-right: 3px !important;
    margin-left: 3px !important;
}

/* @end */

dl.portletCalendar dt {
    position: relative;	
    text-decoration: none;
    display: block;
}

dl.portletCalendar table {
    width: 100%;
    font-size: 0.9em;
}

.narrow dl.portletCalendar table {
    width: 216px;
    position: relative;
    left: -8px;
}

dl.portletCalendar table td {
    margin: 0;
    border-style: none;
    letter-spacing: 0;
    text-align: center;
    padding: 5px 0;
}

dl.portletCalendar table thead tr.weekdays td {
    padding-top: 0;
}

dl.portletCalendar table thead th {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
}

dl.portletCalendar table a {
    display: block;
}

/* @end portlet Calender */


#portal-column-content {
    padding: 0;
    margin: 0;
}

/* @group Content Views */
/* This group is the bordered pane for the logged in users (or otherwise
 * enabled because the view requires it for users not logged in). */

#portal-column-content ul.contentViews {
    float: left;
    display: block;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    border: 0;
    font-size: 0.9em;
    margin-bottom: 1em;
}

#portal-column-content ul.contentViews li {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border; 0;
}

#portal-column-content ul.contentViews li a {
    float: left;
    text-decoration: none;
    display: block;
    color: #ccc;
    border: 0;
    margin: 0;
    padding: 6px 9px;
    background: #333 url(++resource++cellml.theme.images/globalnav-separator.gif) no-repeat scroll right bottom;
}

#portal-column-content ul.contentViews li.selected a,
#portal-column-content ul.contentViews li a:hover {
    color: #fff;
    background: #ce0026 url(++resource++cellml.theme.images/globalnav-hover.gif) no-repeat scroll center bottom;
}

/* @end */

/* @group Content Actions */

div.documentEditable {
    width: 100%;
}

div.contentActions {
    float: left;
    background: #333;
    margin: -1em 0 1em;
    padding: 0;
    border: 0;
    width: 100%;
}

ul#contentActionMenus {
    list-style-type: none;
    width: 100%;
    float: right;
    margin: 0;
    padding: 0;
    background: #333;
}

ul#contentActionMenus li {
    list-style-type: none;
    float: right;
    position: relative;
    border: 0;
}

ul#contentActionMenus li a {
    display: block;
}

ul#contentActionMenus li a:hover {
    text-decoration: underline;
}

ul#contentActionMenus li dl {
    padding: 0;
    margin: 0;
}

ul#contentActionMenus li dd {
    display: none;
}

ul#contentActionMenus li dd img {
    vertical-align: middle;
}

ul#contentActionMenus li dt {
    padding: 0;
    margin: 0;
    background: #333 url(++resource++cellml.theme.images/globalnav-separator.gif) no-repeat scroll right bottom;
}

ul#contentActionMenus li dt a {
    display: block;
    color: #ccc;
}

ul#contentActionMenus li a img {
    background-color: white;
    width: 16px;
    height: 16px;
    margin-top: -3px;
}

ul#contentActionMenus li dd.actionMenuContent img {
    background-color: inherit;
    margin-bottom: 0;
    width: auto;
    height: auto;
    padding: 0;
}


ul#contentActionMenus li dt a  span.arrowDownAlternative {
    font-size: 0.9em;
}

ul#contentActionMenus li dt.label-state-private a {
    text-decoration: none;	
    color: #ff7664;
}

ul#contentActionMenus li dt.label-state-pending a {
    text-decoration: none;	
    color: orange;
}

ul#contentActionMenus li dt.label-state-visible a {
    text-decoration: none;	
    color: #a3e63d;
}

ul#contentActionMenus li dt.label-state-published a {
    text-decoration: none;	
    color: #7dabcf;
}

ul#contentActionMenus li dt a:hover {
    text-decoration: none;
}

ul#contentActionMenus dl.activated dt {
    background: url(listBox-header-right.gif) no-repeat right top;
    position: relative;
    z-index: 1000;
    color: #fff;
    text-decoration: none;
}

ul#contentActionMenus dl.activated dt a {
    color: #fff;
    text-decoration: none;

    background: url(listBox-header-left.gif) no-repeat left top;
    position: relative;
    z-index: 1000;
}

ul#contentActionMenus dl.activated dd {
    display: block;
    float: left;
    position: absolute;
    right: 0;
    width: 150px;
    overflow: hidden;
}


ul#contentActionMenus dl.activated ul {
    width: 100%;
    float: left;
    background: #333;
    padding: 0 5px;
    border: none;
}

ul#contentActionMenus dl.activated ul li {
    float: left;
    width: 100%;
}

ul#contentActionMenus dl.activated ul li a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #ccc;
    padding: 0 5px;
    margin-left: -5px;
    text-align: left;
}

ul#contentActionMenus dl.activated ul li a:hover {
    color: #fff;
    background: #ce0026;
}

ul#contentActionMenus li.actionSeparator {
    color: #ccc;
}

ul#contentActionMenus li.actionSeparator a {
    border-top: 1px dotted #bbb;
}


/* @end */

.documentEditable .documentContent {
    border: 1px solid #ccc;
}

/* Status messages */

dl.portalMessage {
    background-color: #ffffe3;
    border: 1px solid #996;
    clear: both;
}
dl.portalMessage a {
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;
}
dl.error dt {
    background-color: #d00;
}
dl.warning {
    border-color: #d80;
}
dl.warning dd {
    background-color: #fd7;
}
dl.error {
    border-color: #d80;
}
dl.error dd {
    background-color: #fd7;
}

/* Other overrides that are necessary due to the way this skin is built */

/* these are entrapped inside the block2 and block3 which has fixed
 * width.  We remove the width restriction here.
 */

#portal-column-one {
    width: 100%;
}

#portal-column-two {
    width: 100%;
}

/* Plone way of doing hidden structure, but this margin definition was
 * overriden by Tripoli */

.hiddenStructure {
    margin: -1px 0 0 -1px !important;
}

.image-left {
    float: left;
    margin-right: 1em;
}

.image-right {
    float: right;
    margin-left: 1em;
}

/*
_______________________________
END */

/* ---------------------- End Plone-specific styles ---------------------- */

